<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            COVID-19 Information
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Covid-19 Information</ion-title>
        </ion-toolbar>
    </ion-header>

    <!--  <app-explore-container name="Tab 2 page"></app-explore-container>-->
    <app-map [currentUserLocation]="locationService.currentUserLocation.asObservable()"
             (event)="handleMapEvent($event)"></app-map>
</ion-content>
